.login {
  height: 100%;
  width: 100%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  .formWrap {
    width:4rem;
    background-color: #fff;
    border-radius: 0.1rem;
    padding: .2rem;
    .button {
      width: 100%;
      display: block;
      margin-top: .1rem
    }
  }
}