
.wrap{
  margin: 0.1rem auto;
  width: 4rem;
  border: 2px solid #ddd;
  overflow: hidden;
}
.swiper {
  background-color: #ccc;
  .carouselItem {
    width: 4rem;
    height: 4rem
  }
}
.productInfo {
  
}
.title {
  font-weight: normal;
  padding: 0.1rem;
  color: #333;
}
.price {
  font-size: .22rem;
  color: #ff6666;
  font-family: 'Courier New, Courier, monospace'
}
.tags {
  padding: 0.1rem auto;
  .tag {
    margin: 0.05rem;
    font-size: 0.16rem
  }
}
