.top {
  display: flex;
  justify-content: space-between;
  .searcher {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    .snRange {
      display: flex;
      align-items: center;
    }
  }
}