.tableToolBar {
  display: flex;
  justify-content: flex-end;
}
.formTitle {
  font-size: 22px;
  padding: 10px;
}
.form {
  margin: 0;
  width: auto;
}
.defaultAvatar {
  height: 48px;
  width: 48px;
  background-color: #ddd
}
