{
  "printWidth": 100,
  "arrowParens": "always",
  "eslintIntegration": true,
  "stylelintIntegration": true,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all"
}