.wrap {
  display: flex;
  flex: 1;
  .preview {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border: 1px solid #ddd;
    flex: 1;
    width: 3.2rem;
    overflow: auto;
    .listWrap {
      display: flex;
      flex: 1;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 0.1rem;
      .listItem {
        width: 48%;
        margin-bottom: 0.1rem;
        height: 2rem;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        .name {
          font-size: 0.14rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .price {
          font-size: 0.14rem;
          color: #f66;
        }
        &:hover {
          .mask {
            display: block;
          }
        }
        .mask {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          color: #fff;
          .operator {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
.nameEditor {
  padding: 0.1rem;
}
.editor {
  margin: 0 0.1rem;
  width: 4rem;
  background-color: #f5f5f5;
  border: 1px dotted #ddd;
  padding: 0.1rem;
  h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.04rem;
  }
}
.pageEditor {
  .editor;
  width: 6rem;
  .elemItem {
    position: absolute;
    right: 0;
    top: 0
  }
}
.swiperWrap {
  display: flex;
  flex: 1;
  .preview {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border: 1px solid #ddd;
    flex: 1;
    width: 3.2rem;
    overflow: auto;
    .listWrap {
      display: flex;
      flex: 1;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 0.1rem;
      .listItem {
        width: 100%;
        margin-bottom: 0.1rem;
        position: relative;
        img {
          width: 100%;
          height: 100%;
        }
        &:hover {
          .mask {
            display: block;
          }
        }
        .mask {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          color: #fff;
          .operator {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
.elementsEditor {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    position: relative;
    padding-right: 1rem
  }
}
