<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">

  <script>
    window.config = {
      api_dev: "http://localhost:10010/",
      api_prod: 'http://api.idacheng.cn/',
      source: 'http://res.idacheng.cn/',
      appname: "管理平台",
      buildDate: '2018-12-01 10:42:09',
      buildNumber: '',
    };
  </script>
  <title>管理平台</title>
</head>

<body>
  <div id="root"></div>
</body>

</html>