html,
body,
#root {
  height: 100%;
  font-size: 100px;
}

body {
  margin: 0;
}
.ant-table-wrapper {
  background-color: #fff;
  margin: 0.1rem 0;
}
.nonAvatar {
  width: 48px;
  height: 48px;
  line-height: 48px;
  background-color: #eee;
  text-align: center;
  color: #ccc;
  font-size: 22px;
}
.nonAvatar::after {
  content: '-_-';
}
/* 滚动槽 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
