.layout {
  font-family: Georgia, sans-serif;
  height: 100%;
}

.title {
  font-size: 0.12rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: 0.6em 0;
  color: white;
  margin: 0;
}
.contentWrap {
  display: flex;
  .content {
    font-size: 0.12rem;
    flex: 1;
    padding: .1rem
  }
}
.sider {
  overflow-y: auto;
  font-size: 0.16rem;
}
.header {
  background-color: #ddd;
  font-size: 0.16rem;
}
