.layout {
  height: 100%;
}
.contentWrap {
  background-color: #fff;
  display: flex;
  .content {
    font-size: 0.12rem;
    flex: 1;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
  }
}
.sider {
  overflow-y: auto;
  font-size: 0.16rem;
}
.header {
  background-color: hsl(217, 55%, 52%);
  color: #fff;
  font-size: 0.16rem;
  display: flex;
  justify-content: space-between;
  align-items: center
}
